<div class="contents row mt-2">
  <h3><%= @map.school.name %>のふるさと</h3>
  <div class="containe_r p-4">
    <%= form_with model: @map, local: true do |f| %>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <%= f.text_field :address,placeholder: "市町村 住所など",class: "game_title",value: "#{@map.address}" %>
      <%= f.text_area :text,placeholder: "紹介",value: "#{@map.text}" %>
      <%= f.hidden_field  :tournament_id,value: @tournament %>
      <%= f.submit value: "SENT",class: "game_record" %>
      <%= f.label :image, class: "form-image" do %> 
        <h4>画像投稿</h4>
        <i class="fa fa-image"></i>
        <%= f.file_field :image, class: 'input-box_image_file',value: "#{@map.image}"%>
      <% end %>
    <% end %>
  </div>
</div>