<div class="map-content">
  <div class="text-center">
    <div class="text-format pt-5 text-primary">
      <%=@tournament.name%>
    </div>
    <h3 class="pt-4">出場校ふるさとを紹介</h3>
    <%= link_to "紹介する",new_map_path(tournament_id: params[:tournament_id]),class: "ays-avg" %>
    <%= link_to "戻る","/tournaments/#{@id}/watch_ays",class: "ays-avg", data: {"turbolinks" => false} %>
  </div>
  <div class="map-list row">
    <% @maps.each do |map| %>
      <div class="col-xs-12 col-md-6 col-lg-3 mt-3 mb-5 map-card">
        <div class="map-name bg-white pt-2">
          <%= link_to "#{map.school.name}","maps/#{map.id}" %>
        </div>
        <div class="map-user pt-5">
          投稿者 <%= link_to "#{map.user.nickname}","/users/#{map.user.id}" %>
        </div>
        <div class="map-user_image">
          <% if map.user.image.present?%>
            <%= link_to image_tag("#{map.user.image}",class: "map-user_icon mt-3"),"/users/#{map.user.id}" %>
          <% else %>
            <%= link_to image_tag("no-image.png",class: "map-user_icon mt-3"),"/users/#{map.user.id}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%# 大会別 %>
  <div class="d-flex">
    <% @categories.each do |tournament|%>
      <% unless current_page?("/maps?tournament_id=#{tournament.id}") %>
        <div class="cp-tournamet mt-5 mb-5">
          <%= link_to "/maps?tournament_id=#{tournament.id}",data: {"turbolinks" => false},class: "text-white" do%>
            <i class="fa fa-baseball-ball text-white"></i>
            <%=tournament.name%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>