<div class="map-content">
  <div class="text-center">
    <h3 class="pt-4">出場校のふるさとを紹介してみませんか！？</h3>
    <%= link_to "投稿する",new_map_path(tournament_id: params[:tournament_id]),class: "ays-avg" %>
    <%= link_to "戻る","/tournaments/#{@id}/watch_ays",class: "ays-avg" %>
  </div>
  <div class="map-list row">
    <% @maps.each do |map| %>
      <div class="col-xs-12 col-md-6 col-lg-3 mt-3 mb-5 map-card">
        <div class="map-name bg-white pt-2">
          <%= link_to "#{map.school.name}","maps/#{map.id}" %>
        </div>
        <div class="map-user pt-5">
          投稿者 <%= link_to "#{map.user.nickname}","/users/#{map.user.id}" %>
        </div>
        <div class="map-user_image">
          <% if map.user.image.present?%>
            <%= link_to image_tag("#{map.user.image}",class: "map-user_icon mt-3"),"/users/#{map.user.id}" %>
          <% else %>
            <%= link_to image_tag("no-image.png",class: "map-user_icon mt-3"),"/users/#{map.user.id}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>