<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<div class="map">
  <div class="choose-btn pt-3">
    <% if current_user.id == @map.user_id || current_user.admin? %>
      <%= link_to "記事を削除する","/maps/#{@map.id}",method: :delete,data: { confirm: '削除しますか？' },class: "delete-btn"%>
      <%= link_to "記事を編集する","/maps/#{@map.id}/edit",method: :get,class: "edit-article" %>
    <% end %>
    <%= link_to "戻る",maps_path(tournament_id: @map.tournament.id),class: "return-top ml-1", data: {"turbolinks" => false} %>
  </div>
  <div class="map-info">
    <div class="map-school">
      <%= @map.school.name %>のふるさと紹介
    </div>
    <div class="map-text">
      <p class="text-center pt-1"><%= @map.address%></p>
      <%= simple_format(@map.text) %>
    </div>
    <div class="map-image">
      <% if @map.image.present?%>
        <%= image_tag "#{@map.image}",class: "map-image_content" %>
      <% else %>
        <%= image_tag "map-no-image.png",class: "map-image_content" %>
      <% end %>
    </div>
  </div>
<div id="map"></div>
</div>
<%# <%= javascript_pack_tag 'main'%> %>