<div class="top-header d-flex align-items-center">
  <% if user_signed_in? %>
    <%= link_to notifications_path, class: "info" do %>
      <i class="fa fa-bell"></i>通知
    <% end %>
    <% if unchecked_notifications.any? %>
      <%= link_to notifications_path, class: "new_info" do %>
        <i class="fa fa-circle fa-xs" style="color: gold;">新着あり</i>
      <% end %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "/mypages/#{current_user.id}",data: {"turbolinks" => false},class: "mypage" do %>
      <i class="fa fa-user"></i>マイページ
    <% end %>
    <%= link_to contacts_path,class: "contact-header" do %>
      <i class="fa fa-envelope"></i>お問い合わせ
    <% end %>
  <% elsif user_signed_in? && current_user.admin? %>
    <%= link_to "管理者ページ", users_show_admin_users_path %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path,method: :delete,class: "logout" do %>
      <i class="fa fa-sign-out-alt"></i>ログアウト
    <% end %>
  <% else %>
    <%= link_to new_user_session_path,class: "login" do %>
      <i class="fa fa-sign-in-alt"></i>ログイン
    <% end %>
    <%= link_to new_user_registration_path,class: "top_sign_up" do %>
      <i class="fa fa-user-plus"></i>新規登録
    <% end %>
  <% end %>
</div>