<html>
<head>
  <title> Sample boad</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
<%= render :partial=>"tweet"%>

  <% @tournaments.each do |tournament|%>
    <div class="by_tournament">
      <%= link_to "#{tournament.name}","/tournaments/#{tournament.id}",class: "title"%>
    </div>
  <%end%>

  <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "記事を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  <% end %>

 <%= render :partial=>"tweet_show"%>
</div>
<%= paginate(@tweets)%>
</div>
</body>
</html>