<div class="contents row mt-2">
  <div class="containe_r p-4">
    <%= form_with model: @tweet, local: true do |f| %>
      大会選択<br>
      <%=f.select :tournament_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]},selected: @tweet.tournament_id),{include_blank:"大会を選択してください"}, { class: "parent_category_box", id: "parent_category"} %>
      <div class="school mt-3"></div>
      <div class="school2"></div>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= render partial: 'form',locals: {f: f} %>
    <% end %>
    <div class="back">
      <%= link_to "戻る",tweets_path %>
    </div>
  </div>
</div>