<div class="contents row">
  <div class="containe_r">
    <%= form_with url: tweets_path,local: true do |f|%>
    <%= render 'layouts/error_messages', model: f.object %>
      <h3>
        投稿する
      </h3>
      <%= f.text_field :school_a,placeholder: "高校A" %>
      <%= f.text_field :school_a_score,placeholder: "高校A 特点" %>
      <%= f.text_field :school_b,placeholder: "高校B" %>
      <%= f.text_field :school_b_score,placeholder: "高校B 得点" %>
      <%= f.text_field :title_info,placeholder: "サブタイトル" %>
      <%= f.text_area :text, cols: 30 ,rows: 10 %>
      <%=f.submit value: "SENT"%>
    <% end %>
    <div class="back">
      <%= link_to "戻る",root_path%>
    </div>
  </div>
</div>