<%= link_to "トップページへ戻る",tweets_path %>
<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "記事を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<% @tweets.each do |tweet|%>
<div class="comment">
  <div class="comment-list">
    <div class="title">
    <%= link_to "#{tweet.school_a.name}vs#{tweet.school_b.name}","/tweets/#{tweet.id}",class: "title"%>
    </div>
    <div class="sub-title">
      <%= tweet.title_info %>
    </div>
    <div class="tweets_at">
      <%= tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
    </div>
  </div>
</div>
   <% end %>
</div>