<div class="top-main">
    <%= render partial: "/tweets/header"%>
  <div id="app">
    <transition name="bounce" appear>
    <div v-show="show">
      <div class="top-container">
        <div class="mx-auto" style="width: 40%;">
        <div class="top-title font-weight-bold">
          高校野球コネクト
        </div>
          <li>
          <%= link_to tweets_path,class: "btn btn-cool-blues",data: {"turbolinks" => false} do %>
            <i class="fas fa-edit"></i>試合記事
          <% end %>
          </li>
          <li>
          <%= link_to analyses_path,class: "btn btn-green-moon" do %>
            <i class="fas fa-search"></i>戦力分析
          <% end %>
          </li>
          <%= link_to forecasts_path,class: "btn btn-orange-moon" do %>
            <i class="fas fa-baseball-ball"></i>試合予想
          <% end %>
        </div>
        <div class="top-image_one">
          <%= image_tag "run.png",width: '300',height: '300' %>
        </div>
        <div class="top-image_two">
          <%= image_tag "pitch1.png",width: '280',height: '280' %>
        </div>
        <div class="top-image_three">
          <%= image_tag "batter1.png",width: '300',height: '300' %>
        </div>
        <div class="top-image_four">
          <%= image_tag "pitch2.png",width: '470',height: '470' %>
        </div>
        <div class="top-image_five">
          <%= image_tag "batter2.png",width: '350',height: '350' %>
        </div>
        <div class="top-image_six">
          <%= image_tag "defense.png",width: '280',height: '280' %>
        </div>
      </div>
    </div>
    </transition>
  </div>
</div>
<%= javascript_pack_tag 'top' %>