<div class="text-format mb-5 pt-5 text-danger">
  <% if current_page?(forecasts_path) || current_page?(watch_fcs_tournament_path)  %>
    みんなの試合予想
  <% else %>
    投稿した試合予想
  <% end %>
</div>
<div class="my-post-list">
  <% @my_forecasts.each do |forecast| %>
    <div class="my-forecast mt-5">
      <%= link_to forecast do %>
        <div class="school-fcs">
          <div class="fcs-image">
            <i class="fa fa-balance-scale text-white"></i>
          </div>
          <div class="win-school_fs">
            <p>勝利予想<p>
            <br>
            <%= forecast.win_school.name %>
          </div>
          <div class="lose-school_fs">
            <p>敗退予想<p>
            <br>
            <%= forecast.lose_school.name %>
          </div>
        </div>
        <div class="name">
          <span>投稿者</span>
          <%= forecast.user.nickname %>
        </div>
        <div class="tweets_at">
          <%= forecast.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
        </div>
      <% end %>
    </div>
  <% end %>
</div>