<!--div class="contents row pt-3">
  <% if current_user.nickname == "ゲスト"%>
    <h5>ゲストユーザーは編集できません</h5>
  <% end %>
  <div class="container">
    <%= form_with model: @user,local: true do |f|%>
      <%= f.select :prefecture,options_for_select(User.prefectures.keys,selected: @user.prefecture),{prompt: "住んでる場所を選択してください"},class: "form-control" %>
      <%= f.text_area :text, cols: 30 ,rows: 10,value: "#{@user.text}" %>
      <%= f.file_field :image %>
      <div class="s3">
      </div>
      <%=f.submit value: "SENT",class: "game_record"%>
    <% end %>
    <div class="back">
      <%= link_to "戻る","/users/#{current_user.id}",data: {"turbolinks" => false} %>
    </div>
  </div>
</div>-->
<%= javascript_pack_tag 'main' %>