<div class="mypage-content pt-3">
  <%# <%= link_to "戻る",'javascript:history.back()',class: "return-top ml-2" %> 
  <%= link_to "トップページへ戻る",root_path,class: "return-top-mypage"%>
  <%= link_to "ユーザー一覧",users_path,class: "users-btn" %>
  <% if @user.id == current_user.id %>
    <%= link_to "編集する",edit_user_path(@user),class: "edit-article" %>
  <% end %>
  <p class="text-center">ID:<%= @user.id%></p>
  <div class="myname mt-5">
    <h2><%= "#{@user.nickname}さんのプロフィール"%><h2>
  </div>
  <%= render "users/stats" %>
  <%= render "users/follow_form" %>
  <%# メッセージ %>
    <% if @user.id != current_user.id %>
    <% if @isRoom == true %>
      <% if current_user.following?(@user) %>
      <div class="dm">
        <%= link_to 'ダイレクトメッセージをする', room_path(@roomId) %>
      </div>
      <% end %>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e|%>
          <% e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <% if current_user.following?(@user) %>
          <%= f.submit "DMを開始する"%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%# プロフィール %>
  <div class="myprof">
    <%= image_tag "#{@user.image}",class: "user-image mt-5" %>
    <div class="residence">
      <p>住んでる場所</p>
      <br><%= @user.prefecture %> 
    </div>
    <div class="text-myname">
      <p>自己紹介</p>
      <br><%= @user.text %>
    </div>
    <%# タブ %>
    <div id="radio">
      <div class="vue_radio">
        <div class="tabs">
          <input type="radio" id="tab1" class="tab-switch" value="1" v-model="isActive">
          <label class="tab" for="tab1">投稿した試合記事</label>
          <input type="radio" id="tab2" class="tab-switch" value="2" v-model="isActive">
          <label class="tab" for="tab2">投稿した試合分析</label>
          <input type="radio" id="tab3" class="tab-switch" value="3" v-model="isActive">
          <label class="tab" for="tab3">投稿した試合予想</label>
          <input type="radio" id="tab4" class="tab-switch" value="4" v-model="isActive">
          <label class="tab" for="tab4">いいねした試合記事</label>
        </div>
        <ul class="contents">
          <li v-if="isActive === '1' "><%= render partial: "my_tweets"%></li>
          <li v-else-if="isActive === '2' "><%= render partial: "my_analyses" %></li>
          <li v-else-if="isActive === '3' "><%= render partial: "my_forecasts"%></li>
          <Li v-else-if="isActive === '4' "><%= render partial: "users/likes"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'mypage' %>