<%= render :partial=>"tweets/header"%>
<div id="wrapper">
  <div class="main-content-btn mt-1">
    <% if user_signed_in? %>
      <%= link_to "投稿する",new_tweet_path,class: "send_btn"%>
    <% end %>
    <% unless current_page?(root_path)%>
      <%= link_to "記事一覧へ戻る",tweets_path,class: "return-btn_watch"%>
    <%end%>
  </div>
  <div class="article-main">
    <% if @tweet.present? %>
      <div class="text-format text-success mt-1 pt-5">
        <%= @tweet.tournament.name%>
      </div>
      <%= render partial: "tweets/tweet_show"%>
    <% else %>
      <p class="text-center mt-5">投稿はありません</p>
    <% end %>
    <%= paginate(@tweets) %>
  </div>
</div>
</div>