<%= render partial: "tweets/header"%>
<div class="main-content-btn">
  <% if user_signed_in? %>
    <%= link_to "投稿する",new_forecast_path,class: "send_btn"%>
  <% end %>
  <% unless current_page?(root_path)%>
    <%= link_to "予想一覧へ戻る",forecasts_path,class: "return-btn_watch"%>
  <%end%>
</div>
<div class="forecasts-main">
  <div class="text-format text-danger pt-2 mb-5">
    <%= @forecast.tournament.name%>
  </div>
  <%= render partial: "forecasts/forecasts"%>
  <%= paginate(@forecasts)%>
</div>