<div id="wrapper">
  <div class="main-content-btn mt-1">
    <% if user_signed_in? %>
      <%= link_to "投稿する",new_forecast_path,class: "send_btn"%>
    <% end %>
    <% unless current_page?(root_path)%>
      <%= link_to "予想一覧へ戻る",forecasts_path,class: "return-btn_watch" %>
    <%end%>
  </div>
  <div class="forecast-main">
    <% if @forecast.present? %>
      <div class="text-format text-danger mt-1 pt-5 mb-4">
        <%= @forecast.tournament.name%>
      </div>
      <%= render partial: "forecasts/forecasts"%>
    <% else %>
      <p class="text-center mt-5">投稿はありません<p>
    <% end %>
  </div>
</div>
<%= link_to "優勝予想","/champions/#{@forecast.tournament_id}",class: "ays-avg" %>