<div class="average-content">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <%= link_to "大会別ページへ戻る",watch_ays_tournament_path,class: "return-btn d-inline-block mt-1", data: {"turbolinks" => false}%>
  <h3>戦力分析の平均評価</h3>
  <% @avgs.each do |avg|%>
    <div class="avg-name text-center"><%=avg[:name]%></div>
    <div class="data-title mt-3 ml-5">
      戦力
    </div>
    <div class="average">
      <p class="avg-font">攻撃力<p>
      <div class="avg-attack"><%= avg[:attack_num].round %></div>
      <p class="avg-font">守備力<p>
      <div class="avg-defense"><%= avg[:defense_num].round %></div>
      <p class="avg-font">投手力<p>
      <div class="avg-pitch"><%= avg[:pitch_num].round %></div>
      <p class="avg-font">総合力<p>
      <div class="avg-total"><%= avg[:total_num].round %></div>
      <p class="avg-font">期待度</p>
      <div class="avg-expec"><%= avg[:expectations_num].round %></div>
    </div>
    <div style="width:900px; height:500px;" >
      <canvas class="RaderChart"></canvas>
    </div>
    <%= javascript_pack_tag 'tournament' %>
  <% end %>
  <% unless @avgs.present? %>
  <div class="text-center mt-5">投稿はありません</div>
  <% end %>
</div>
<%= javascript_pack_tag 'main' %>