 <!--<div class="main-content">
  <div class="wrap"> %>
    <div class="main-content-btn mt-1">
      <% if user_signed_in? %>
        <%= link_to "投稿する",new_analysis_path,class: "send_btn", data: {"turbolinks" => false} %>
      <% end %>
      <% unless current_page?(root_path)%>
        <%= link_to "分析一覧へ戻る",analyses_path,class: "return-btn_watch" %>
      <%end%>
    </div>
    <div class="text-format text-success mt-5 mb-5">
      <%= @category.name%>
    </div>
    <div class="go-avg text-center mt-4">
      <div class="avg-ays">
        <p>みんなの分析を元にした平均評価を見る<p>
        <%= link_to "平均評価を見る",watch_avg_tournament_path,class: "ays-avg" %><br>
      </div>
      <div class="homedown">
        <p>甲子園でお馴染みのふるさと紹介</p>
        <%= link_to "ふるさと紹介",maps_path(tournament_id: params[:id]),class: "ays-avg", data: {"turbolinks" => false} %>
      </div>
    </div>
    <div class="text-format mt-5 mb-3 text-warning">
      大会別
    </div>
    <div class="title pt-5 pb-5">
      <% @category_parent_array.each do |tournament|%>
        <% unless current_page?("/tournaments/#{tournament.id}/watch_ays") %>
          <%= link_to "/tournaments/#{tournament.id}/watch_ays",class: "title-child text-white", data: {"turbolinks" => false} do%>
            <i class="fa fa-baseball-ball text-white"></i>
            <%=tournament.name%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div> %>-->
<%= javascript_pack_tag 'main' %>