<% @avgs.each do |avg|%>
  <%=avg[:name]%>
<div class="average">
  <p>攻撃力<p>
  <%= avg[:attack_num].round %>
  <p>守備力<p>
  <%= avg[:defense_num].round %>
  <p>投手力<p>
  <%= avg[:pitch_num].round %>
  <p>総合力<p>
  <%= avg[:total_num].round %>
  <p>期待度</p>
  <%= avg[:expectations_num].round %>
</div>
  <% end %>
  <%= link_to "戻る",watch_ays_tournament_path%>