<div class="wrapper">
  <div class="main-content-btn mt-1">
    <% if user_signed_in? %>
      <%= link_to "投稿する",new_analysis_path,class: "send_btn"%>
    <% end %>
    <% unless current_page?(root_path)%>
      <%= link_to "分析一覧へ戻る",analyses_path,class: "return-btn_watch" %>
    <%end%>
  </div>
  <div class="go-avg text-center mt-4">
    <div class="avg-ays">
      <p>みんなの分析を元にした平均評価を見る<p>
      <%= link_to "平均評価を見る",watch_avg_tournament_path,class: "ays-avg" %><br>
    </div>
    <div class="homedown">
      <p>甲子園でお馴染みのふるさと紹介</p>
      <%= link_to "ふるさと紹介",maps_path(tournament_id: params[:id]),class: "ays-avg" %>
    </div>
  </div>
  <!--<div class="analysis-main">
    <% if @analysis_tournament.present? %>
      <div class="text-format text-success mt-5 pt-5 mb-４">
        <%= @analysis_tournament.tournament.name%>
      </div>
      <%= render partial: "analyses/analysis_show"%>
    <% else %>
      <div class="text-center mt-5">投稿はありません</div>
    <% end %>
  </div>
-->
</div>
<%= javascript_pack_tag 'main' %>