<div class="text-format mb-5 pt-5 text-warning">
  <% if current_page?(analyses_path) || current_page?(watch_ays_tournament_path)  %>
    みんなの戦力分析
  <% else %>
    投稿した戦力分析
  <% end %>
</div>
<% @analyses.each do |analysis|%>
  <%= link_to analysis do %>
  <div class="analysis mt-5">
    <div class="school_ays-name">
      <%= analysis.school.name %>
    </div>
    <div class="analysis-image">
      <i class="fa fa-search"></i>
    </div>
    <div class="title_ays text-center">
      <%= analysis.title%>
    </div>
    <div class="name">
      <span>投稿者</span>
      <%= analysis.user.nickname %>
    </div>
    <div class="analyses_at">
      <%= analysis.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
    </div>
  </div>
  <% end %>
<% end %>