  <div class="analysis_header">
    <h1>戦力分析<h1>
  </div>
    <% @category_parent_array.each do |tournament|%>
    <div class="by_tournament">
      <%= link_to "#{tournament.name}","/tournaments/#{tournament.id}/watch",class: "title"%>
    </div>
  <% end %>
  <%= render partial: "tweets/log" %>
  <% if user_signed_in? %>
    <%= link_to "投稿する",new_analysis_path,class: "send_btn"%>
  <% end %>
  <div class="analysis_main">
  <%= render partial: "analyses/show"%>
  </div>
  <div class="analsis_bottom">
  </div>
  <%= paginate(@analyses)%>
