<div class="analysis-content">
  <div class="choose-btn">
    <% if current_user.id == @analysis.user_id || current_user.admin? %>
    <%= link_to "記事を削除する","/analyses/#{@analysis.id}",method: :delete,data: { confirm: '削除しますか？' },class: "delete-article"%>
    <%= link_to "記事を編集する","/analyses/#{@analysis.id}/edit",method: :get,class: "edit-article" %>
    <% end %>
    <%= link_to "分析トップページへ戻る",analyses_path,class: "return-btn"%>
  </div>
  <div class="user_name">
    <h4>投稿者 <%= link_to "#{@analysis.user.nickname}","/mypages/#{@analysis.user_id}"%></h4>
  </div>
  <div class="school_name-ays">
    <%= @analysis.school.name %>
  </div>
  <div class="select_main-show">
      <div class="attack_i">
        <p>攻撃力</p>
        <%= @analysis.attack%>
      </div>
      <div class="defensive_i">
        <p>守備力</p>
        <%= @analysis.defensive%>
      </div>
      <div class="pitcher_i">
        <p>投手力</p>
        <%= @analysis.pitcher%>
      </div>
      <div class="comprehensive_i">
        <p>総合力</p>
        <% if @analysis.comprehensive=="A" %>
          <%= @analysis.comprehensive%>
        <% elsif @analysis.comprehensive=="B" %>
          <p>B+<p>
        <% elsif @analysis.comprehensive=="C" %>
          <p>B<p>
        <% else %>
          <p>C<p>
        <% end %>
      </div>
    </div>
  <div class="text-show">
    <%= simple_format(@analysis.text)%>
  </div>
      <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= comment.user.nickname %>：</strong>
              <%= simple_format(comment.text) %>
              <% if user_signed_in? && current_user.id == comment.user_id || current_user.admin %>
                <%= link_to '削除', "/analyses/#{@analysis.id}/comment_analyses/#{comment.id}", method: :delete,class: "comment_delete_button" %>
              <% end %>
              <div class="comment_at">
              <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
              </div>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="comment_container"> 
    <% if current_user %>
      <%= form_with(model:[@analysis, @comment], method: :post) do |f| %>
        <textarea cols="30" name="text" placeholder="コメントを記述" rows="2"></textarea>
        <input type="submit" value="SENT" class="game_record">
      <% end %>
    <% end %>
    </div>