<div class="analysis-show_content">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <div class="choose-btn pt-2">
    <% if current_user.id == @analysis.user_id || current_user.admin? %>
    <%= link_to "記事を削除する","/analyses/#{@analysis.id}",method: :delete,data: { confirm: '削除しますか？' },class: "delete-btn"%>
    <%= link_to "記事を編集する","/analyses/#{@analysis.id}/edit",method: :get,class: "edit-article" %>
    <% end %>
    <%= link_to "分析トップページへ戻る",analyses_path,class: "return-btn" %>
  </div>
  <div class="user_name">
    <h5>投稿者 <%= link_to "#{@analysis.user.nickname}","/mypages/#{@analysis.user_id}"%></h5>
  </div>
  <div class="content-fcs_show">
    <div class="text-format mt-5 text-success">
      <%= @analysis.tournament.name%><br>
      <i class="fas fa-search mt-5">分析内容</i>
    </div>
    <div class="school_name-ays">
      <%= @analysis.school.name %>
    </div>
    <div class="select_main-show">    
      <p class="font">攻撃力</p>
      <div class="attack_i"><%= @analysis.attack%></div>
      <p class="font">守備力</p>
      <div class="defensive_i"><%= @analysis.defensive%></div>
      <p class="font">投手力</p>
      <div class="pitcher_i"><%= @analysis.pitcher%></div>
      <p class="font">総合力</p>
      <div class="comprehensive_i"><%= @analysis.comprehensive%></div>
      <p class="font">期待度</p>
      <div class="expectations_i"><%= @analysis.expectations%></div>
    </div>
    <div style="width:900px; height:500px;" >
      <canvas id="RaderChart"></canvas>
    </div>
      <%= javascript_pack_tag 'analysis' %>
  </div>
  <div class="show-text">
    <%= simple_format(@analysis.text)%>
  </div>
   <div class="comment-content">
    <div class="comment">   
      <div class="text-format mt-5 mb-4 text-warning">
      <i class="fa fa-baseball-ball text-warning"></i>
        コメント
      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
            <div class="comment-user">
              <%= @num %>:
              <strong><%= link_to "#{comment.user.nickname}","/mypages/#{comment.user.id}",class: "pr-4" %></strong>
              <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
              <% if user_signed_in? && current_user.id == comment.user_id || current_user.admin %>
                <%= link_to '削除', "/analyses/#{@analysis.id}/comments/#{comment.id}", method: :delete,class: "comment_delete-button" %>
              <% end %>
            </div>
          <div class="mt-4 mb-4">
            <%= simple_format(comment.text) %>
          </div>
          <%@num+=1%>
        <% end %>
      <% end %>
    </div>
    <div class="comment-form"> 
    <% if current_user %>
      <%= form_with(model:[@analysis, @comment], method: :post) do |f| %>
        <textarea cols="30" name="text" placeholder="コメントを記述" rows="2"></textarea>
        <input type="submit" value="SENT" class="game_record">
      <% end %>
    <% end %>
    </div>
  </div>
</div>