<div class="analysis-show_content">
  <div class="data-info pb-5">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <div class="choose-btn pt-3">
      <% if current_user.id == @analysis.user_id || current_user.admin? %>
      <%= link_to "記事を削除する","/analyses/#{@analysis.id}",method: :delete,data: { confirm: '削除しますか？' },class: "delete-btn"%>
      <%= link_to "記事を編集する","/analyses/#{@analysis.id}/edit",method: :get,class: "edit-article" %>
      <% end %>
      <%= link_to "分析トップページへ戻る",analyses_path,class: "return-btn",data: {"turbolinks" => false} %>
    </div>
    <div class="user_name">
      <h5>投稿者 <%= link_to "#{@analysis.user.nickname}","/users/#{@analysis.user_id}"%></h5>
      <% if @user.image.present?%>
        <%= link_to image_tag("#{@user.image}",class: "user-icon mt-2"),"/users/#{@user.id}" %>
      <% else %>
        <%= link_to image_tag("no-image.png",class: "user-icon mt-3"),"/users/#{@user.id}" %>
      <% end %>
    </div>
    <div class="content-fcs_show">
      <div class="game_result mt-5">
        <%= @analysis.tournament.name%><br>
      <div class="text-format mt-1 text-info">
        <i class="fas fa-search mt-5">分析内容</i>
      </div>
      </div>
      <div class="sub_title text-white mt-5">
        <i class="fa fa-baseball-ball"></i>
        <%=@analysis.title%>
      </div>
      <div class="school_name-ays">
        <%= @analysis.school.name %>
      </div>
      <div class="data-title mt-5 ml-5">
        分析詳細
      </div>
      <div class="ays-text mt-5 ml-5">
        <%= simple_format(@analysis.text)%>
      </div>
      <div class="data-title mt-5 ml-5">
        戦力
      </div>
      <div class="select_main-show mt-5">    
        <p class="font">攻撃力</p>
        <div class="attack_i"><%= @analysis.attack%></div>
        <p class="font">守備力</p>
        <div class="defensive_i"><%= @analysis.defensive%></div>
        <p class="font">投手力</p>
        <div class="pitcher_i"><%= @analysis.pitcher%></div>
        <p class="font">総合力</p>
        <div class="comprehensive_i"><%= @analysis.comprehensive%></div>
        <p class="font">期待度</p>
        <div class="expectations_i"><%= @analysis.expectations%></div>
      </div>
    </div>
    <%# グラフ %>
    <div class="reader">
      <div style="width:70%; height:70%;" ><canvas id="RaderChart"></canvas></div>
    </div>
  </div>
  <%# コメント %>
   <div class="comment-content">
    <div class="comment">   
      <div class="text-format comment mt-0 mb-4 text-warning">
      <i class="fa fa-baseball-ball text-warning"></i>
        コメント
      </div>
      <div id="comments_area">
        <%= render partial: '/comment_analyses/comment', locals: { comments: @comments }%>
      </div>
    </div>
    <div class="comment-form"> 
      <%= render partial: 'comment_analyses/form', locals: { comment: @comment, analysis: @analysis } %>
    </div>
  </div>
</div>
<%# <%= javascript_pack_tag 'analysis' %> %>
<%= javascript_pack_tag 'main' %>