<%= form_for(@contact, url: { action: :check }) do |f| %>
  <div>
    <h2>お問い合わせ</h2>

      <% if @contact.errors.present? %>
        <div>
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @contact.errors.each do |attr, error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div>
      <strong>名前</strong>
      <p><%= f.text_field :name, placeholder: '20文字以内' %></p>
    </div>
    <div>
      <strong>メールアドレス</strong>
      <p><%= f.text_field :email, placeholder: '30文字以内' %></p>
    </div>
    <div>
      <strong>内容</strong>
      <p><%= f.text_area :content, placeholder: '1000文字以内' %></p>
    </div>
      <%= f.submit '確認画面へ' %>
  </div>
<% end %>