<%= form_for(@contact, url: { action: :check }) do |f| %>
<div class="contact">
  <div class="contact-main text-center pt-2">
    <h2>お問い合わせ</h2><br>
    <p>管理人に、問い合わせ・要望などを送信できます
      <% if @contact.errors.present? %>
        <div class="contact-error">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @contact.errors.each do |attr, error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="contact-user-input mt-5">
      <div class="contact-name">
        名前
        <p><%= f.text_field :name, placeholder: '20文字以内' %></p>
      </div>
      <div class="contact-mail mt-4">
        メールアドレス
        <p><%= f.text_field :email, placeholder: '30文字以内' %></p>
      </div>
      <div class="contact-message mt-4">
        問い合わせ内容
        <p><%= f.text_area :content, placeholder: '1000文字以内' %></p>
      </div>
    </div>
  </div>
  <div class="contact-sent mb-5">
    <%= f.submit "確認画面へ",class: "btn btn-warning" %>
    <%= link_to 'javascript:history.back()',class: "btn btn-primary active" do %>
      戻る
    <% end %>
  </div>
</div>
<% end %>