<%= link_to "トップページへ戻る",root_path %>
<div class="myname">
  <h2><%= "#{@user.nickname}さんのプロフィール"%><h2>
</div>
<%= render "users/stats" %>
<% if @user.id == current_user.id %>
  <%= link_to "プロフィール編集",edit_mypage_path %>
<% end %>
</div class="myprof">
  <div class="residence">
    <p>住んでる場所<p>
    <br>
    <%= @mypage.prefectures %>
  </div>
  <div class="text-myname">
    <p>自己紹介</p>
    <br>
      <%=@mypage.text %>
  </div>
  <div class="my-links">
    <%= link_to "投稿した試合記事","#{@mypage.id}/my_tweets",class: "my-link" %>
    <%= link_to "投稿した戦力分析","#{@mypage.id}/my_analyses",class: "my-link" %>
    <%= link_to "投稿した試合予想","#{@mypage.id}/my_forecasts",class: "my-link" %>
  </div>
</div>
<%= render "users/follow_form" %>
  