<div class="myname">
  <h2><%= "#{@nickname}さんのプロフィール"%><h2>
</div>
  <% if @mypage.present?%>
    <%= link_to "プロフィール編集",edit_mypage_path %>
  <% else %>
    <%= link_to "プロフィール作成",new_mypage_path %>
  <% end %>

</div class="myprof">
  <div class="residence">
    <p>住んでる場所<p>
    <br>
    <%= @mypage.prefectures %>
  </div>
  <div class="text-myname">
    <p>自己紹介</p>
    <br>
    <% if Mypage.exists?(user_id: params[:id]) %>
      <%=@mypage.text%>
    <% end %>
  </div>
  <%= link_to "投稿した試合記事","#{@mypage.id}/my_tweets" %>
  <%= link_to "投稿した戦力分析","#{@mypage.id}/my_analyses" %>
  <%= link_to "投稿した試合予想","#{@mypage.id}/my_forecasts" %>
</div>
  