<div class="contents row">
  <div class="form">
    <%= form_with model: @forecast,local: true do |f| %>
      <%= render 'layouts/error_messages_fcs', model: f.object %>
    <h2>
    投稿する
    <h2>
    <p>大会名</p>
    <%=@forecast.tournament.name%>
    <div class="win-school">
      <p>勝利予想 <p>
      <%=f.select :win_school_id,options_for_select(@category_children_array.map{|c| [c[:name], c[:id]]},selected: @forecast.win_school_id),{},{class: "tournament_select_child",id: "children_category"} %>
    </div>
    <div class="lose-school">
      <p>敗退予想<p>
      <%=f.select :lose_school_id,options_for_select(@category_children_array.map{|c| [c[:name], c[:id]]},selected: @forecast.lose_school_id),{},{class: "tournament_select_child",id: "children_category"} %>
    </div>
    <%= f.text_area :text,cols: 30,rows: 10,placeholder: "予想内容を入力してください",value: "#{@forecast.text}"%>
    <%=f.submit value: "SENT",class: "game_record"%>
    <% end %>
  </div>
</div>