<div class="contents row mt-2">
  <div class="form p-4">
    <%= form_with model: @champion,local: true do |f| %>
      <%= render 'layouts/error_messages_cp', model: f.object %>
      <%= f.hidden_field  :tournament_id,value: @tournament %>
      <%= f.collection_select :champion_school_id, @school, :id, :name%>
      <%=f.submit value: "SENT",class: "game_record"%>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'main' %>