<!DOCTYPE html>
<html>
  <head>
    <title>高校野球</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <% if user_signed_in? %>
      <li>
        <%= link_to "NOTICE", notifications_path, class: "btn-default" %>
      </li>
      <% if unchecked_notifications.any? %>
        <i class="fa fa-circle" style="color: gold;"></i>
      <% end %>
    <% end %>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="/javascript/packs/main.js"></script>
    <%= yield %>
      <%# <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
